<div ng-controller="TodoController">
  <div class="title">
    <h1>
      <img
        src="AngularJS-Shield.svg"
        alt="SVG Image"
        width="50px"
        height="auto"
      />
      <div>
        Todo App
        <i
          class="fa fa-check-circle"
          aria-hidden="true"
          style="font-size: 2rem"
        ></i>
      </div>
      <div></div>
    </h1>
    <form name="todoForm" ng-submit="addTask()" novalidate>
      <div class="center">
        <span class="add">
          <input
            type="text"
            ng-model="newTask"
            id="newTask"
            name="newTask"
            placeholder="Add a new task"
            ng-keypress="handleKeyPress($event)"
            ng-pattern="/^(?! )([a-zA-Z0-9 ]+)$/"
            ng-model-options="{ debounce: 300 }"
          />

          <button ng-click="addTask()" ng-disabled="!todoForm.$valid">
            <i class="fas fa-plus"></i>
          </button>
        </span>
        <div
          class="error"
          ng-show="todoForm.newTask.$error.required && todoForm.newTask.$dirty"
        >
          Task name is required.
        </div>
        <div class="error" ng-show="todoForm.newTask.$error.pattern">
          Task name must contain only alphanumeric characters.
        </div>
      </div>
    </form>
  </div>

  <div
    class="card"
    ng-class="{ 'completed-card': task.done, 'removing': task.removing }"
    ng-repeat="task in tasks"
    ng-click="toggleTaskDone(task)"
  >
    <span style="font-weight: bold">Task {{task.id}}</span><span></span
    ><span></span>
    <span class="text">
      <input type="checkbox" ng-model="task.done" class="bigger-checkbox" />
      <p ng-if="task.done"><s>{{ task.text }}</s></p>
      <p ng-if="!task.done">{{ task.text }}</p>
    </span>
    <p class="status" ng-if="task.done">Completed</p>
    <p class="status" ng-if="!task.done">Yet to do</p>
    <div style="display: flex; align-items: center">
      <i
        class="fa fa-info-circle"
        style="color: aqua"
        ui-sref="todoDetails({ id: task.id })"
        ng-mouseover="showTooltip = true"
        ng-mouseleave="showTooltip = false"
      ></i>
      <span class="tooltip" ng-show="showTooltip">Task Details</span>

      <i class="fas fa-trash-alt" ng-click="removeTask(task)"></i>
    </div>
  </div>
  <div
    ng-if="hasCompletedTasks()"
    style="display: flex; justify-content: flex-end"
  >
    <button style="margin: 5%" ng-click="removeCompletedTasks()">
      <i class="fas fa-trash-alt"></i> Remove Completed
    </button>
  </div>
</div>
